body
{
   text-align: center;
   background:cornflowerblue;
}


header
{
   background:gold;
   font-size: large;
   
}


main
{  
   backround:cornflowerblue;
   font-size:medium;
        
}

footer
{
    
    font-size: small;

}
   